@charset "UTF-8";
/* CSS Document */

.add-20-bottom {

	margin-bottom: 20px;
	
}

.btn-primary {

	padding: 10px;
	border-radius: 0;
	font-size: 18px;
	background-color: #22487d;
	
}


.navbar-default {
	
	background-color: #66b360;
	
}

.navbar-default a.navbar-brand {

	color: #ffffff;	
	
}

div.list-group-item {

	background-color: #22487d;
	color: #ffffff;
	
}

.list-group {

	border-radius: 0;	
	
}
